.product-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 290px;
}

.product-card-image {
  background-color: inherit;
  width: 220px;
  height: 210px;
  margin: auto;
  margin-top: 4px;
}

.product-card-title {
  background-color: inherit;
  width: 230px;
  height: 40px;
  margin: auto;
  margin-top: 4px;
}

.product-card-title h3 {
  font-family: sans-serif;
  font-size: 14px;
  padding: 5px;
}

.product-card:hover .product-card-title h3{
  text-decoration: underline;
}

.product-card-price {
  background-color: inherit;
  width: 220px;
  height: 25px;
  margin: auto;
  margin-top: 2px;
}

.product-card-price h3 {
  font-family: sans-serif;
  font-size: 16px;
  padding: 5px;
  color: #ff4100
}