.product-card {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 300px;
}

.product-card-image {
  background-color: inherit;
  width: 220px;
  height: 210px;
  margin: auto;
  margin-top: 4px;
}

.product-card-title {
  background-color: inherit;
  width: 220px;
  height: 40px;
  margin: auto;
  margin-top: 4px;
}

.product-card-title h3 {
  font-family: sans-serif;
  font-size: 16px;
  padding: 5px;
}

.product-card-price {
  background-color: inherit;
  width: 220px;
  height: 25px;
  margin: auto;
  margin-top: 4px;
}

.product-card-price h3 {
  font-family: sans-serif;
  font-size: 16px;
  padding: 5px;
  color: #ff4100
}