* {
    margin: 0;
}

.content {
    background-color: white;
}

.spotlight {
    background-color: aquamarine;
    height: 600px;
    width: 2000px;
    margin: auto;
}

.products-section {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    min-height: 50vh;
    width: 1020px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}