
.flavor-quantity-pair {
  margin-top: 15px;
}

.flavor-quantity-pair-quantity {
  margin-top: 10px;
}

.flavor-quantity-add-remove-pair {
  display: flex;
  flex-direction: row;
}

.flavor-quantity-add-pair {
  background-color: inherit;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 3px;
}

.flavor-quantity-add-pair img {
  background-color: none;
  border-radius: 50%;
  transition: 0.4s ease-out;
}

.flavor-quantity-add-pair img:hover {
  background-color: #ff4100;
  transition: 0.3s ease-in;
}

.flavor-quantity-remove-pair {
  background-color: inherit;
  margin-top: 10px;
  padding-left: 176px;
  padding-top: 3px;
}

.flavor-quantity-remove-pair img {
  background-color: none;
  border-radius: 50%;
  transition: 0.4s ease-out;
}

.flavor-quantity-remove-pair img:hover {
  background-color: #ff4100;
  transition: 0.3s ease-in;
}

.flavor-quantity-line-delimiter {
  margin-top: 15px;
  height: 1px;
  width: 500px;
  background-color: black;
}