

.divider {
    background-color: black;
    height: 50px;
    min-width: 1000px;
}

.photo-auth-cart {
    background-color: white;
    height: 100px;
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-logo {
    padding: 15px;
    padding-left: 2px;
    background-color: white;
}

.auth-cart {
    padding: 35px;
    background-color: white;
    display: flex;

}

.auth-cart .auth{
    margin-right: 20px;
    background-color: white;
}

.auth-cart .cart {
    background-color: white;
}

.categories {
    background-color: white;
    height: 50px;
    width: 1000px;
    display: flex;
    margin: auto;
}

.categories-item {
    background-color: white;
    list-style: none;
    padding: 17px;
}

.categories-item:hover {
    cursor: pointer;
}

.categories p {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
}

