.pp-products-section {
    width: 1000px;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.pp-left-menu {
    background-color: antiquewhite;
    width: 235px;
}

.pp-right-products-section {
    background-color: white;
    width: 765px;
    padding-bottom: 100px;
}

.pp-product-family {
    background-color: white;
    width: 765px;
    height: 60px;
}

.pp-product-family h2 {
    padding-left: 20px;
    padding-top: 18px;
    font-size: 20px;
    font-family: sans-serif;
}

.pp-right-products-prods {
    margin-top: 20px;
    background-color: white;
    width: 765px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}