.left-menu {
    background-color: lightgray;
    padding-top: 4px;
    padding-bottom: 15px;
}

.left-menu ul {
    list-style: none;
    padding-left: 11px;
}

.left-menu li p {
    margin-top: 10px;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    transition: 0.4s ease-out;
}

.left-menu li p:hover {
    color: #ff4100;
    transition: 0.3s ease-in;
}

.left-menu li img {
    display: block;
    margin-top: -16px;
    margin-right: 10px;
    margin-left: auto;
    padding: 3px;
    background-color: inherit;
    cursor: pointer
}

.sub-menu-item-0 {
    background-color: #ff4100;
}