
.gen-dd {
    background-color: white;
    font-size: 12px;
    font-family: sans-serif;
    position: absolute;
    top: 198px;
    border: solid 2px black;
    padding-top: 3px;
    padding-bottom: 10px;
    z-index: 1;
}

.gen-dd-item-0 {
    padding: 3px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 20px;
    transition: 0.4s ease-out;
}

.gen-dd-item-0:hover {
    background-color: inherit;
    color: #ff4100;;
    transition: 0.3s ease-in;
}

.gen-dd-item-1 {
    padding: 3px;
    padding-left: 25px;
    padding-right: 20px;
    transition: 0.4s ease-out;
}

.gen-dd-item-1:hover {
    background-color: inherit;
    color: #ff4100;;
    transition: 0.3s ease-in;
}

.gen-dd-item-2 {
    padding: 3px;
    padding-left: 40px;
    padding-right: 20px;
    transition: 0.4s ease-out;
}

.gen-dd-item-2:hover {
    background-color: inherit;
    color: #ff4100;;
    transition: 0.3s ease-in;
}

.gen-item-3 {
    padding: 3px;
    padding-left: 45px;
    padding-right: 20px;
    transition: 0.4s ease-out;
}

.gen-dd-item-3:hover {
    background-color: inherit;
    color: #ff4100;;
    transition: 0.3s ease-in;
}