.text-box-register input {
    min-width: 475px;
    min-height: 23px;
    border: solid 2px black;
    font-size: 16px;
    font-family: sans-serif;
}

.text-box-register input:focus {
    border: solid 2px grey;
    outline: none;
    border-radius: 5%;
}

