
.selector-box-3 select {
    height: 30px;
    width: 100px;
    border: solid 2px black;
    font-family: sans-serif;
    font-size: 14px;
}

.selector-box-3 select:focus {
    border: solid 2px grey;
    outline: none;
    border-radius: 5%;
}