

.register-page-title {
    background-color: white;
    height: 60px;
    width: 1000px;
    margin: auto;
    
}

.register-page-title h2 {
    font-size: 19px;
    font-family: sans-serif;
    color: #ff4100;
    padding-top: 10px;
}

.register-formular-section {
    font-size: 16px;
    font-family: sans-serif;
    background-color: white;
    min-height: 400px;
    height: 60vh;
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding-top: 20px;
}

.register-formular-section h2 {
    font-size: 19px;
    font-family: sans-serif;
    padding-top: 10px;
}

.register-formular-section p {
    background-color: inherit;
    margin-bottom: 5px;
    margin-top: 20px;
}

.rfs-left {
    background-color: inherit;
    width: 500px;
}

.rfs-right {
    background-color: inherit;
    width: 500px;
}

.rfs-submit {
    padding-top: 30px;
}

.rfs-error p {
    margin-top: 2px;
    color: red;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

.register-page-check-email {
    width: 1000px;
    margin: auto;
}

.register-page-check-email p {
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: green;
}

.register-page-already-registered {
    width: 1000px;
    margin: auto;
}

.register-page-already-registered p {
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(255, 104, 17);
}

.register-page-register-failed {
    width: 1000px;
    margin: auto;
}

.register-page-register-failed p {
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(255, 104, 17);
}